.home-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 2rem;
  padding-right: 2rem;
  flex: 1;
  width: 100%;
  border-left: 1px solid rgba(182, 182, 182, 0.459);
}

@media (max-width: 640px)
{
  .sidebar{
    display: none;
  }
}

@media (max-width: 1024px)
{
  .sidebar{
    display: none;
  }
}