.profile-nav-container nav{
  z-index: 1;
  position: sticky;
  background: white;
}

.profile-content-container {
  display: flex;
  flex-direction: row;
}

.profile-user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-user-info h1 {
  padding-left: 1rem;
}