.home-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 3;
  border-right: 1px solid rgba(182, 182, 182, 0.459);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: fit-content;
}