@import './tailwind.css';
@import './screenStyles/homeScreen.css';
@import './componentStyles/postComponent.css';
@import './componentStyles/postFilter.css';
@import './componentStyles/upcomingGames.css';
@import './componentStyles/predictionsSide.css';
@import './componentStyles/sidebar.css';
@import './screenStyles/profile.css';
@import './screenStyles/upcomingGames.css';
@import './componentStyles/signin.css';
@import './componentStyles/register.css';
@import './screenStyles/predictions.css';
@import './componentStyles/nav.css';
@import './componentStyles/createPost.css';

#root {
  height: 100%;
}

body {
  font: 1.6rem Helvetica;
  height: 90vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}


.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.primary {
  padding: 0.5rem 6.5rem 0.5rem 6.5rem;
  border-radius: 0.25rem;
  background-color: #f5c329;
  font-size: 1rem;
}