nav {
  z-index: 10;
  position: fixed;
  width: 100%;
}

.navbar {
  background-color: #002147;
}

.register {
  align-items: center;
  color: black;
  background-color: #f5c329;
  font-size: 1rem;
}

.login {
  align-items: center;
}

.register-signin-popup {
  display: block;
  position: absolute;
  width: 75rem;
  transform: translateY(60%);
  border-radius: 0.5rem;
  z-index: 20;
}

.register-popup {
  z-index: 50;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  box-shadow: 0.25rem 0.25rem 2rem rgba(170, 169, 169, 0.404);
  overflow-y: scroll;
  overflow: auto;
  height: 80vh;
}

.register-container {
  background-color: white;
}

.register-img {
  display: flex;
  flex: 1.5;
  align-items: stretch;
  background-color: orange;
  height: 65rem;
}

.signin-popup {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 2rem rgba(170, 169, 169, 0.404);
  border-radius: 0.5rem;
  background-image: inherit;
}

.exit-register {
  width: 100%;
  text-align: right;
  position: inherit;
  font-size: 2rem;
  padding-right: 1rem;
  color: rgb(119, 119, 119);
}


.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-35);
}

.mobile-menu{
  position: fixed;
  transform: translateY(-35rem);
  background-color: rgb(255, 255, 255);
  width: 100%;
  transition: all 0.5s;
  z-index: 15;
  filter: drop-shadow(0rem 0rem 0.75rem rgb(71, 71, 71));
  display: flex;
  justify-content: stretch;
  align-items: center;
}

.mobile-menu div{
  width: 100%;
}

.mobile-menu a {
  color: rgb(73, 73, 73);
  background-color: white;
  border: 1px solid #2029372c;
}

.open {
  transform: translateY(0);
}

.register-mobile-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: auto;
}

.register-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c329;
}

.mobile-button {
  cursor: pointer;
}

.register-popup::-webkit-scrollbar-track {
  background-color: #1f29371e;
  border-radius: 3rem;
}

.register-popup::-webkit-scrollbar-thumb {
  background-color: #f5c329;
  border-radius: 5rem;
  
  /* outline: 1px solid #f5c329; */
}

.register-popup::-webkit-scrollbar {
  width: 0.25rem;

}

@media (max-width: 640px)
{
  .signin-popup {
    width: 100vw;
  }

  .register-popup {
    width: 100vw;
    height: 90vh;
  }
  
}