.upcoming-side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.upcoming-side-sports {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1rem;
  border-bottom: 0.15rem solid rgba(128, 128, 128, 0.212);
  margin-top: 1rem;
}

.upcoming-side-day {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.upcoming-side-day-space {
  flex: 3;
}

.upcoming-side-day-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  padding: 0.05rem;
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}


.upcoming-side-all-btn{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1rem;
}

.upcoming-side-all-btn button {
  background-color: #f5c329; 
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #002147;
}

.all-upcoming-side h1 {
  font-weight: 600;
}

/* Upcoming-side Info Component */

.upcoming-side-time {
  padding: 1rem;
  border-right: 0.25rem solid #f5c329;
  height: 100%;
}

.upcoming-side-game {
  margin-top: 1rem;
  margin-bottom: 0.05rem;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 3;
  align-items: flex-start;
  font-size: 0.75rem;
  background-color: rgba(199, 195, 195, 0.575);
  border-radius: 0.5rem;
}

.upcoming-side-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-grow: 3;
  font-size: 0.65rem;
}

.upcoming-side-teams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  border-radius: 0.25rem;
  color: white;
}

.second-result {
  background-color: white;
  max-width: 80%;
  color: #1f2937;
}

.upcoming-side-teams img {
  max-width: 1.25rem;
  max-height: 1.25rem;
}

.upcoming-side-team-one {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.upcoming-side-at {

}

.upcoming-side-team-two {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.upcoming-side-team-name {
  padding: 0.5rem;
}
