html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}


.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #ca6c55;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  height: 6rem;
}

button {
  background-color: inherit;
}

button:focus {
  outline: inherit;
}

.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
  font-family: Montserrat;
  font-weight: 500;
}

.header-links a{
  color: #ffffff;
  text-decoration: none;
  padding: 1rem;
}

.main {
  grid-area: main;
}


.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

a:hover{
  filter: drop-shadow(inherit);
}

a:focus {
  color: inherit;
}

a:active {
  color: inherit;
}

.badge {
  padding: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 100%;
  border: 1px solid white;
  margin: 1rem;
}

.badge:hover{
  background-color: #4b7b9a;
}

/* Home Screen */


 .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.products a{
  color: white;
}

.products a:hover {
  
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 7rem;
  height: 40rem;
  border-radius: 2rem;
}


.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 2rem;
  background-color: #e2992c;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem #c0c0c0;
}

.product-name {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  font-family: Montserrat;
}


.product-image {
  max-width: 30rem;
  height: 25rem;
  position: relative;
  bottom: 8rem;
  filter: drop-shadow(0rem 0rem 0.75rem white);
  margin-bottom: -6rem;
  z-index: 0;
}

.product .product-image:hover{
  filter: drop-shadow(0rem 0rem 1.5rem white);
}

.product-brand{
  font-size: 1.2rem;
  color:#808080;
}

.product-price {
  font-size: 2.4rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
} 



/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.brand button:hover {
  color: #dbd69a;
}

.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #dbd69a;
  height: 100%;
  transition: all 0.5s;
  z-index: 1;
  filter: drop-shadow(0rem 0rem 0.75rem gray);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border: none;
  color: white;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  font-size: 5rem;
  font-family: Montserrat;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.25rem;
} 

.sidebar-close-button:hover{
  color: #ca6c55;
}

.sidebar-close-button:focus{
  outline: none;
}

.categories li{
  padding-left: 2rem;
  font-size: 5rem;
  font-family: Montserrat;
  font-weight: 700;
  color: white;
}

.categories li:first-child {
  padding-top: 5rem;
}

.categories a:hover {
  background-color: none;
  color: #ca6c55;
}
 
.categories {
  padding: 0;
  list-style-type: none;
}

.categories a{
  display: flex;
  padding: 1rem;
}


/* Product Details */

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin-top: -1.5rem;
}

.details-image {
  flex: 0 1 32rem;
}

.details-image img{
  max-width: 30rem;
  width: 100%;
}

.details-info-action {
  flex: 0 1 40rem;
  text-align: center;
  background-color: rgba(204, 173, 88, 0.5);
  border-radius: 10%;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.details-info {
  flex: 0 1 20rem;
  align-content: center;
}

.details-action {
  flex: 0 1 30rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li{
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 4rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 300;
}


.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
border: 0.1rem #404040 solid;
}

.button.primary {
  background-color: #f0c040;
}

.button.secondary {
  background-color: #f0f0f0;
}

.text-center {
  text-align: center;
}

.button.full-width {
  width: 100%;
}

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action{
  flex: 1 1 20rem;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
} 

/* Form */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem; 
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
  
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
}

.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-info > div{
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child{
  margin-top: 0;
}

.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child{
  font-size: 2rem;
  color: #c04000;
  font-weight: bold;
}

.placeorder-actions-payment > div {
  width: 100%;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}

.profile-orders {
  flex: 3 1 60rem;
  margin-top: 2rem;

}

/* Admin */

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;

}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 4rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}

.filter input,
.filter button,
.filter select{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}


