html {
  font-size: 62.5%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

h1, h2, h3 {
  font-family: Montserrat;
  font-weight: 500;
}


.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  position: fixed;
  grid-area: header;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 6rem;
  z-index: 6;
  width: 100%;
  transition: all .3s ease-in-out; 
}

.header.active{
  background-color: white;
  box-shadow: 0 0 1rem gray;
  transition: all .3s ease-in-out; 
}

button {
  background-color: inherit;
}

button:focus {
  outline: inherit;
}

.brand a {
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 1rem;
  font-family: Montserrat;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.brand a:hover{
  color: #63954b;
  transition: all .2s ease-in-out;
}

.header-links a{
  color: black;
  text-decoration: none;
  padding: 1rem;
  transition: all .2s ease-in-out;
}

.header-links a:hover{
  color: #add49a;
  transition: all .2s ease-in-out;
}

.main {
  grid-area: main;
}


.footer {
  grid-area: footer;
  background-color: #63954b;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

a:hover{
  filter: drop-shadow(inherit);
}

a:focus {
  color: inherit;
}

a:active {
  color: inherit;
}

.badge {
  padding: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.226);
  margin: 1rem;
}



/* Effect Classes */

.grow { 
  transition: all .5s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}

@keyframes slideInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-1%);
  }
}



.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

/* Home Screen */

.jumbo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0rem 1.5rem 1rem rgba(128, 128, 128, 0.05);
  border-radius: 5rem 0;
  background-image: linear-gradient(360deg, #8ad44d, #ffffff)
}

.jumbo::after{
  content:'';
 
  border: 10rem 10rem;
}

.jumbo img {
  flex: 2;
  max-height: 60vh;
}

.main-img {
  background-color: #2a531e33;
  border-radius: 100% 50% 100% 50% / 100% 50% 100% 50%;
}


.jumbo h1 {
  font-family: Montserrat;
  font-size: inherit;
  font-weight: 300;
  padding: 0;
  margin: 0;
  color: inherit;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem gray)
}

.tagline {
  font-size: 7rem;
  color: white;
  text-align: center;
}

.taglinesub {
  color: green;
  font-size: 9rem;
}

.tagline img{
  max-height: 7rem;
  
  animation: 2s ease-in 0s 1 slideInDown;
}

.order-steps {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.order-steps img{
  max-height: 80%;
}

 .products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  border-radius: 5rem 0 ;
  box-shadow: 0rem -2rem 2rem rgba(128, 128, 128, 0.08);
  padding-top: 3rem;
}

.products a{
  color: #2a531e93;
  font-weight: 400;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 7rem;
  height: 40rem;
  border-radius: 2rem;
}


.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-radius: 2rem;
  padding-bottom: 2rem;
  border: 0.15rem solid rgba(112, 228, 112, 0.178);
  box-shadow: 0.25rem 0.25rem 0.55rem #c0c0c01e;
}

.product-name {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  font-family: Montserrat;
}


.product-image {
  max-width: 30rem;
  height: 25rem;
  position: relative;
  bottom: 8rem;
  filter: drop-shadow(0rem 0rem 0.75rem white);
  margin-bottom: -6rem;
  z-index: 0;
}

.product .product-image:hover{
  filter: drop-shadow(0rem 0rem 1.5rem white);
}

.product-brand{
  font-size: 1.2rem;
  color:#808080;
}

.product-price {
  font-size: 2.4rem;
  font-weight: bold;
}

.product-rating {
  margin-bottom: 1rem;
} 

.add-to-cart{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  font-family: Montserrat;
}

.add-to-cart button{
  color: green;
  transition: all .3s ease-in-out;
}

.add-to-cart button:hover{
  background-color: green;
  color: white;
  transition: all .3s ease-in-out;
}

select option {
  border-radius: 1rem;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.brand button:hover {
  color: #63954b;
}

.sidebar {
  position: fixed;
  transform: translateX(-35rem);
  width: 35rem;
  background-color: white;
  height: 100%;
  transition: all 0.5s;
  z-index: 7;
  filter: drop-shadow(0rem 0rem 0.75rem gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border: none;
  color: #63954b;
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  font-size: 5rem;
  font-family: Montserrat;
  font-weight: 100;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.25rem;
} 

.sidebar-close-button:hover{
  -webkit-text-stroke: 0.15rem #63954b;
  transition: all 1s ease-in-out;
}

.sidebar-close-button:focus{
  outline: none;
}

.categories li{
  padding-left: 2rem;
  font-size: 5rem;
  font-family: Montserrat;
  font-weight: 300;
  color: #63954b;
}

.categories li:first-child {
  padding-top: 5rem;
}

.categories a:hover {
  background-color: none;
  color: #63954b;
  -webkit-text-stroke: 0.15rem #63954b;
  transform: scale(1.1); 
  transition: all 0.2s ease-in-out;
}
 
.categories {
  padding: 0;
  list-style-type: none;
}

.categories a{
  display: flex;
  padding: 1rem;
  transition: all 0.2s ease-in-out;
}


/* Product Details */

.details-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media(min-width: 768px){
  .details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 4rem;
    /* margin-top: -4rem; */
    background-color: #bfd6b2;
    border: solid 1px rgba(128, 128, 128, 0.082);
    border-radius: 5rem;
    box-shadow: -5rem -3rem 0 rgba(147, 233, 97, 0.1);
  
  }

  
}

@media(max-width: 768px){
  .details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-bottom: 4rem;
    margin-top: -2rem;
    background-color: rgba(180, 35, 35, 0.842);
    border: solid 1px gray;
    border-radius: 5rem;
  }

  .details-info ul, .details-action ul {
    padding-left: 0;
    margin-left: 0;
  }

}

.back-to-result img{
  flex: 1 0 auto;
  max-height: 10rem;
  padding: 2rem;
}

.details-image{
  display: flex;
  justify-content: center;
  align-content: center;
  flex: 1;
}

.details-image img{
  max-height: 70vh;
}

.details-info-action {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.details-info ul li h4{
  font-size: 9rem;
  font-family: Montserrat;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
}

.rating-price {
  display: flex;
  justify-content: space-between;
  font-family: Montserrat;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  align-items: baseline;
}

.rating-price b{
  font-size: 4rem;
  font-weight: 500;
}



div .details-action{
display: flex;
justify-content: space-evenly;
width: 100%;
flex-direction: row;
margin-top: 5rem;
align-items: flex-end;
font-family: Montserrat;
}

.details-info ul, .details-action ul{
  list-style-type: none;
}

.details-info li, .details-action li{
  margin-bottom: 1rem;
}

.description {
  padding: 3rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-family: Montserrat;
  color: white;
  box-shadow: -0.15rem -0.15rem 0.25rem rgba(255, 255, 255, 0.26);
}

.description-head {
  padding-bottom: 2rem;
  line-height: 2rem;
}


.add-to-cart {
  margin-bottom:-1rem;
}

.button {
  padding: 1rem;
  border: 0.1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.button:hover {
border: 0.1rem #404040 solid;
}

.button.primary {
  background-color: #63954b;
  border:1px solid white;
  color: white;
  transition: 0.5s;
}

.button.primary:hover {

  background-color: white;
  transition: 0.5s;
  color: #63954b;
  border: 1px solid #63954b;
}

.button.secondary {
  background-color: #f0f0f0;
}


.instock {
  color: white;
  font-size: 2rem;
  padding-top: 0.5rem;
}

select {
  width: 8rem;
  padding: 0.5rem;
  border-radius: 2rem;
  margin-top: 0.5rem;
}

select:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.button.full-width {
  width: 100%;
}

/* Cart Screen */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  margin-top: 5rem;
  align-items: space-around;
  height: 90%;
  background-color: #bfd6b2;
  border-radius: 3rem;
  box-shadow: -5rem -3rem 0 rgba(147, 233, 97, 0.1);
  padding-left: 3rem;
}

@media(min-width: 760px){
  .cart {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.cart-list {
  flex: 3 1 60rem;
  align-items: space-around;
}

.cart-action{
  display: flex;
  flex-direction: column;
  flex: 1 1 20rem;
  background-color: white;
  border: 1px solid #62954b67;
  border-radius: 3rem;
  padding: 1rem;
  justify-content: space-between;
  align-content: center;
}

.cart-action h3{
  font-family: Montserrat;
  font-weight: 300;
  color: black;
}

.cart-action button{
  border-radius: 3rem;
}

.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #ffffff60 solid;
  font-family: Montserrat;
}

.cart-list-container li h3{
  font-weight: 300;
  padding: 0;
}

.cart-list-container li img{
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image{
  flex: 1 1;
}

.cart-name {
  flex: 4 1;
}

.cart-name a{
  font-family: Montserrat;
  font-size: 3rem;
}

.cart-name div:nth-child(2){
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 20rem;
}

.cart-name div button{
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.cart-name div button:hover {
  background-color: rgba(255, 255, 255, 0.479);
  transition: all 0.2s ease-in-out;
}

.cart-qty {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 12rem;
}

.cart-price{
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
} 

/* Form */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem; 
}

/* Products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined{
  margin: 1rem;
}

.table{
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd){
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
  margin-top: 2rem;
}

.checkout-steps > div.active {
  border-top: 0.3rem #63954b solid;
  color: #63954b;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-grow: wrap;
  padding: 1rem;
  justify-content: space-between;
  margin-top: 2rem;
}

.placeorder-info {
  flex: 3 1 60rem;
}

.placeorder-action {
  flex: 1 1 20rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
}

.placeorder-info > div{
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin: 1rem;
}

.placeorder-info > div:first-child{
  margin-top: 0;
}

.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}

.placeorder-action > ul > li{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.placeorder-action > ul > li:last-child{
  font-size: 2rem;
  color: #63954b;
  font-weight: bold;
}

.placeorder-actions-payment > div {
  width: 100%;
}


/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}

.profile-orders {
  flex: 3 1 60rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding: 2rem;
  border: 1px solid #abc4a04b;
  margin-right: 3rem;
}

.orders-header {
  font-family: Montserrat;
  font-size: 3rem;
  padding-bottom: 3rem;
}

.profile-info .form .form-container{
  background-color: #62954b36;
}
/* Admin */

.dropdown{
  display: inline-block;
  position: relative;
}

.dropdown-content{
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #203040;
  margin: 0;

}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 4rem auto;
  max-width: 45rem;
  justify-content: space-between;
  align-items: center;
}

.filter input,
.filter button,
.filter select{
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}


